body{
  background: red;
  background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}

.template {
    visibility: hidden; /*class template in html, makes initial delete hidden*/
}

h2 {
  font: 800 64px/64px 'Copperplate', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #333;
}

h2 span {
  font: 400 60px/60px;
  font-style: italic;
  text-transform: none;
  margin: 0 4px 0 -10px;
}

.student {
    border: 1px solid #ddd;
    padding: 0.75rem 1.25rem; 
    border-color: black;  
}
.student + .student {
    border-top: none;
}

span.student-name {
    line-height: 2.5rem;
    padding: 1px;
    white-space: nowrap;
    text-transform: capitalize;
    margin: 0 4px 0 -10px;
    font: 35px 'Copperplate', sans-serif;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 195px)
}
.actions {
    float: right;
    margin-bottom: 0;
}

.promoted {
    background-color: yellow;
    border-color: #FFC656;
}
.button {

    height: 3rem;
    border: none;
    border: 1px solid black;
}
.button.up {
    background-color: lightseagreen;
}
.button.down {
    background-color: orange;
}
.student:first-child button.up {
  background-color: black;
  color: red;
  cursor: not-allowed;
}
.student:nth-last-child(2) button.down {
  background-color: black;
  color:red;
  cursor: not-allowed;
}
.button.save {
    background-color: lightblue;

}
