.template {
    visibility: hidden; /*class template in html, makes initial delete hidden*/
}

.student {
    border: 1px solid #ddd;
    height: 6rem;
}

span.student-name {
    line-height: 2.5rem;
    padding: 1px;
}

.actions {
    float: right;
}
.button {
    height: 1rem;
}
